<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERRO</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style>
        .navbar {
            font-size: 1.3rem;
          }
          .navbar a {
            text-decoration: none;
            display: block;
            padding: 1rem 1rem;
          }
    
          .navbar a:hover{
            background-color: lightgray;
          }

          .erro{
            background-color: #ffbbbb;
            margin: 15%;
            padding: 1rem;
            text-align: center;
          }
    </style>

</head>
<body>
        <!-- barra de navegacao -->
        <header>
            <div class="container bg-dark fixed-top">
                <nav class="navbar">
                    <div class="navbar justify-content-start">
                        <a href="/admin"> ver database </a>
                        <a href="/admin/add"> incluir novo registro </a>
                    </div>
                    <div>
                        <a href="/"> Sair do admin/voltar para home </a>
                    </div>
                </nav>
            </div>
        </header>
    <!-- fim da barra de navegacao -->

    <div class="erro"> <h2> {{ msg }} </h2>  <br><a href="/admin/add"> incluir novo registro </a></div>

</body>
</html>