{% block content %} 

<!-- 1 item-->
<article class="product">
    <div class="img-container">
        <img src="../static/imgs/capa01_2.png" alt="product" class="product-img">
        <button class="bag-btn" data-id="${produto.id}">
            <img src="./imgs/icons/shopping_cart_24dp.svg" alt=""> Adicionar ao Carrinho
        </button>
    </div>
    <h3> ${produto.titulo} </h3>
    <h4> R$${produto.preco}</h4>
</article>
<!-- fim 1 item-->

<!-- 1 item-->
<article class="product">
    <div class="img-container">
        <img src="../static/imgs/capa01_2.png" alt="product" class="product-img">
        <button class="bag-btn" data-id="${produto.id}">
            <img src="./imgs/icons/shopping_cart_24dp.svg" alt=""> Adicionar ao Carrinho
        </button>
    </div>
    <h3> ${produto.titulo} </h3>
    <h4> R$${produto.preco}</h4>
</article>
<!-- fim 1 item-->

<!-- 1 item-->
<article class="product">
    <div class="img-container">
        <img src="../static/imgs/capa01_2.png" alt="product" class="product-img">
        <button class="bag-btn" data-id="${produto.id}">
            <img src="./imgs/icons/shopping_cart_24dp.svg" alt=""> Adicionar ao Carrinho
        </button>
    </div>
    <h3> ${produto.titulo} </h3>
    <h4> R$${produto.preco}</h4>
</article>
<!-- fim 1 item-->

<!-- 1 item-->
<article class="product">
    <div class="img-container">
        <img src="../static/imgs/capa01_2.png" alt="product" class="product-img">
        <button class="bag-btn" data-id="${produto.id}">
            <img src="./imgs/icons/shopping_cart_24dp.svg" alt=""> Adicionar ao Carrinho
        </button>
    </div>
    <h3> ${produto.titulo} </h3>
    <h4> R$${produto.preco}</h4>
</article>
<!-- fim 1 item-->

{% endblock %}